
{% extends 'base.html' %}

{% load static %}

{% block styles %}

<style>
    

body{
    background:#eee;
    }
    
    .white-bg {
        background-color: #ffffff;
    }
    
    .forum-item {
      margin: 10px 0;
      padding: 10px 0 20px;
      border-bottom: 1px solid #f1f1f1;
    }
    .forum-container,
    .forum-post-container {
      padding: 30px !important;
    }
    .forum-item small {
      color: #999;
    }
    .forum-item .forum-sub-title {
      color: rgb(20, 13, 13);
      margin-left: 50px;
    }
    .forum-title {
      margin: 15px 0 15px 0;
    }
  
    .forum-icon {
      float: left;
      width: 36px;
      margin-right: 20px;
      text-align: center;
    }
    a.forum-item-title {
      color: inherit;
      display: block;
      font-size: 18px;
      font-weight: 600;
    }
    a.forum-item-title:hover {
      color: inherit;
    }
    .forum-item.active a.forum-item-title {
      color: #d39e00 !important;
    }
    
    .ibox {
      clear: both;
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;
    }
    .ibox.collapsed .ibox-content {
      display: none;
    }
    .ibox.collapsed .fa.fa-chevron-up:before {
      content: "\f078";
    }
    .ibox.collapsed .fa.fa-chevron-down:before {
      content: "\f077";
    }
    .ibox:after,
    .ibox:before {
      display: table;
    }
    .ibox-title {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 3px 0 0;
      color: inherit;
      margin-bottom: 0;
      padding: 14px 15px 7px;
      min-height: 48px;
    }
    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .ibox-footer {
      color: inherit;
      border-top: 1px solid #e7eaec;
      font-size: 90%;
      background: #ffffff;
      padding: 10px 15px;
    }
    
    .message-input {
        height: 90px !important;
    }
    .form-control, .single-line {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }
    .text-navy {
        color: #1ab394;
    }
    .mid-icon {
        font-size: 66px !important;
    }
    .m-b-sm {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block contenido %}

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
    
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <!-- <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div> -->
                        <h2>Eventos de la Comunidad</h2>
                        <span>No se que poner en esta parte</span>
                    </div>
                </div>
    
                <div class="ibox-content forum-container">
                    <div class="forum-item active">
                        <div class="row">
                            {% for evento in lista_eventos%}
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <img src="{% static 'img/aviso.jpg'%}">
                                </div>
                                <a href="{{evento.link_evento}}" class="forum-item-title">{{evento.titulo}}:  {{evento.fecha}}</a>
                                <div class="forum-sub-title">
                                    {{evento.descripcion | safe }}
                                </div>
                            </div>
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--fin ibox -->
            </div>
        </div>
    </div>
    </div>

{% endblock contenido %}