{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">

            <ul class="list-group">
                <li class="list-group-item"><strong>Nombre: </strong>{{detalle.nombre}}</li>
                <li class="list-group-item"><strong>Club: </strong>{{detalle.region}}</li>
                <li class="list-group-item"><strong>Sexo: </strong>{{detalle.comuna}}</li>
              </ul>

            <h1></h1>
            <h1></h1>
            <h1></h1>
           
        </div>
        <div class="col-md-8">
            <table id="lista_club" class="table table-striped" style="width:100%">
                <thead class="table-dark">
                    <tr>    
                    <th>Nombre</th>
                    <th>Sexo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in peleadores %}
                    <tr>
                        
                        <td>{{item.nombre}}</td>
                        <td>{{item.sexo}}</td>
                        
                        
                    </tr>
                    {% endfor %}
                </tbody>
                <!-- <tfoot>
                    <tr>
                        <th>Rank</th>
                        <th>Categoria</th>
                        <th>Peleador</th>
                        <th>Club</th>
                        <th>Rating</th>
                        <th>RD</th>
                    </tr>
                </tfoot> -->
            </table>
        </div>
     
    </div>
</div>