{% extends 'base.html' %}


{% block contenido %}

<div class="container mt-3">
    <div class="row">
        <table id="lista_club" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Region</th>
                    <th>Comuna</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for item in lista_clubes %}
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.region}}</td>
                    <td>{{item.comuna}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Region</th>
                    <th>Comuna</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



{% endblock %}


