{% extends 'base.html' %}

{% block contenido %}

<div class="container mt-3">
    <div class="row">
        <table id="lista_club" class="table table-striped" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Club</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista_peleadores %}
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.get_sexo_display}}</td>
                    <td><a href="{% url 'app:detalle_club' item.id %}">{{item.club}}</a></td>
                    <td><a class="btn btn-primary" href="{% url 'app:detalle_peleador' item.id %}">Ficha</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <!-- <tfoot>
                <tr>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Club</th>
                </tr>
            </tfoot> -->
        </table>
    </div>
</div>



{% endblock %}

